.topnav {
    background-color: lightsteelblue;
    overflow: hidden;
    display: flex;
    padding: 1px;
}

.topnav div {
    color: black;
    text-align: center;
    justify-content: center;
    flex: 100;
    padding: 1.5%;
    cursor: pointer;
    font-weight: bold;
}

.topnav div:hover {
    background-color: cadetblue;
    color: black;
}

.topnav div.active {
    background-color: steelblue;
    color: black;
}

.homePageCenterContents{
    width: 80%;
    height: 80%;
    display: block;
    background: lightpink;
    margin: auto;
    padding: 1%;
    text-align: center;
}

.homePagebox {
    width: 80%;
    height: 80%;
    display: flex;
    background: lightpink;
    margin: auto;
    padding: 1%;
}

.projectBox {
    width: 80%;
    height: 80%;
    display: flex;
    background: lightblue;
    margin: auto;
    padding: 0.1% 1%;
}

.hobbiesBody{
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../assets/dragon-ball-z-kakarot-how-to-get-dragon-balls-shenron-wish.large.jpeg") no-repeat fixed;
    background-size: 100% 100%;
}

.hobbiesBox {
    width: 80%;
    height: 80%;
    display: block;
    background: transparent;
    margin: auto;
    padding: 0.1% 1%;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: black;
}